# 1. importing libraries

In [1]:
import pandas as pd
 #import pymysql
#import sqlalchemy
import numpy as np
import sklearn
import imblearn
import matplotlib.pyplot as plt
import seaborn as sns
import sweetviz as sv

In [2]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix, plot_confusion_matrix, ConfusionMatrixDisplay
from collections import Counter 
from sklearn.metrics import roc_curve, roc_auc_score
from imblearn.under_sampling import TomekLinks
from imblearn.over_sampling import SMOTE

In [3]:
import warnings
warnings.filterwarnings("ignore")

# 2. uploading data

In [4]:
#df_raw.columns = ['id', 'date', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long', 'sqft_living15', 'sqft_lot15', 'price']

In [5]:
df_raw = pd.read_csv('regression_data_trans.csv')

In [6]:
df_raw.head(50) #check if the data were imported correctly

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price
0,7129300520,10/13/2014,3,1.00,1180,5650,1.0,0,0,3,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,221900
1,6414100192,12/9/2014,3,2.25,2570,7242,2.0,0,0,3,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,538000
2,5631500400,2/25/2015,2,1.00,770,10000,1.0,0,0,3,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,180000
3,2487200875,12/9/2014,4,3.00,1960,5000,1.0,0,0,5,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,604000
4,1954400510,2/18/2015,3,2.00,1680,8080,1.0,0,0,3,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,510000
5,7237550310,5/12/2014,4,4.50,5420,101930,1.0,0,0,3,...,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930,1230000
6,1321400060,6/27/2014,3,2.25,1715,6819,2.0,0,0,3,...,1715,0,1995,0,98003,47.3097,-122.327,2238,6819,257500
7,2008000270,1/15/2015,3,1.50,1060,9711,1.0,0,0,3,...,1060,0,1963,0,98198,47.4095,-122.315,1650,9711,291850
8,2414600126,4/15/2015,3,1.00,1780,7470,1.0,0,0,3,...,1050,730,1960,0,98146,47.5123,-122.337,1780,8113,229500
9,3793500160,3/12/2015,3,2.50,1890,6560,2.0,0,0,3,...,1890,0,2003,0,98038,47.3684,-122.031,2390,7570,323000
10,1736800520,4/3/2015,3,2.50,3560,9796,1.0,0,0,3,...,1860,1700,1965,0,98007,47.6007,-122.145,2210,8925,662500
11,9212900260,5/27/2014,2,1.00,1160,6000,1.0,0,0,4,...,860,300,1942,0,98115,47.6900,-122.292,1330,6000,468000
12,114101516,5/28/2014,3,1.00,1430,19901,1.5,0,0,4,...,1430,0,1927,0,98028,47.7558,-122.229,1780,12697,310000
13,6054650070,10/7/2014,3,1.75,1370,9680,1.0,0,0,4,...,1370,0,1977,0,98074,47.6127,-122.045,1370,10208,400000
14,1175000570,3/12/2015,5,2.00,1810,4850,1.5,0,0,3,...,1810,0,1900,0,98107,47.6700,-122.394,1360,4850,530000
15,9297300055,1/24/2015,4,3.00,2950,5000,2.0,0,3,3,...,1980,970,1979,0,98126,47.5714,-122.375,2140,4000,650000
16,1875500060,7/31/2014,3,2.00,1890,14040,2.0,0,0,3,...,1890,0,1994,0,98019,47.7277,-121.962,1890,14018,395000
17,6865200140,5/29/2014,4,1.00,1600,4300,1.5,0,0,4,...,1600,0,1916,0,98103,47.6648,-122.343,1610,4300,485000
18,16000397,12/5/2014,2,1.00,1200,9850,1.0,0,0,4,...,1200,0,1921,0,98002,47.3089,-122.210,1060,5095,189000
19,7983200060,4/24/2015,3,1.00,1250,9774,1.0,0,0,4,...,1250,0,1969,0,98003,47.3343,-122.306,1280,8850,230000
20,6300500875,5/14/2014,4,1.75,1620,4980,1.0,0,0,4,...,860,760,1947,0,98133,47.7025,-122.341,1400,4980,385000
21,2524049179,8/26/2014,3,2.75,3050,44867,1.0,0,4,3,...,2330,720,1968,0,98040,47.5316,-122.233,4110,20336,2000000
22,7137970340,7/3/2014,5,2.50,2270,6300,2.0,0,0,3,...,2270,0,1995,0,98092,47.3266,-122.169,2240,7005,285000
23,8091400200,5/16/2014,2,1.50,1070,9643,1.0,0,0,3,...,1070,0,1985,0,98030,47.3533,-122.166,1220,8386,252700
24,3814700200,11/20/2014,3,2.25,2450,6500,2.0,0,0,4,...,2450,0,1985,0,98030,47.3739,-122.172,2200,6865,329000
25,1202000200,11/3/2014,3,2.00,1710,4697,1.5,0,0,5,...,1710,0,1941,0,98002,47.3048,-122.218,1030,4705,233000
26,1794500383,6/26/2014,3,1.75,2450,2691,2.0,0,0,3,...,1750,700,1915,0,98119,47.6386,-122.360,1760,3573,937000
27,3303700376,12/1/2014,3,1.00,1400,1581,1.5,0,0,5,...,1400,0,1909,0,98112,47.6221,-122.314,1860,3861,667000
28,5101402488,6/24/2014,3,1.75,1520,6380,1.0,0,0,3,...,790,730,1948,0,98115,47.6950,-122.304,1520,6235,438000
29,1873100390,3/2/2015,4,2.50,2570,7173,2.0,0,0,3,...,2570,0,2005,0,98052,47.7073,-122.110,2630,6026,719000
30,8562750320,11/10/2014,3,2.50,2320,3980,2.0,0,0,3,...,2320,0,2003,0,98027,47.5391,-122.070,2580,3980,580500
31,2426039314,12/1/2014,2,1.50,1190,1265,3.0,0,0,3,...,1190,0,2005,0,98133,47.7274,-122.357,1390,1756,280000
32,461000390,6/24/2014,4,1.75,2330,5000,1.5,0,0,4,...,1510,820,1929,0,98117,47.6823,-122.368,1460,5000,687500
33,7589200193,11/10/2014,3,1.00,1090,3000,1.5,0,0,4,...,1090,0,1929,0,98117,47.6889,-122.375,1570,5080,535000
34,7955080270,12/3/2014,4,2.75,2060,6659,1.0,0,0,3,...,1280,780,1981,0,98058,47.4276,-122.157,2020,8720,322500
35,9547205180,6/13/2014,3,2.50,2300,3060,1.5,0,0,3,...,1510,790,1930,2002,98115,47.6827,-122.310,1590,3264,696000
36,9435300030,5/28/2014,4,1.00,1660,34848,1.0,0,0,1,...,930,730,1933,0,98052,47.6621,-122.132,2160,11467,550000
37,2768000400,12/30/2014,4,2.00,2360,6000,2.0,0,0,4,...,2360,0,1904,0,98107,47.6702,-122.362,1730,4700,640000
38,7895500070,2/13/2015,4,1.00,1220,8075,1.0,0,0,2,...,890,330,1969,0,98001,47.3341,-122.282,1290,7800,240000
39,2078500320,6/20/2014,4,2.50,2620,7553,2.0,0,0,3,...,2620,0,1996,0,98056,47.5301,-122.180,2620,11884,605000
40,5547700270,7/15/2014,4,2.50,2570,5520,2.0,0,0,3,...,2570,0,2000,0,98074,47.6145,-122.027,2470,5669,625000
41,7766200013,8/11/2014,4,2.25,4220,24186,1.0,0,0,3,...,2600,1620,1984,0,98166,47.4450,-122.347,2410,30617,775000
42,7203220400,7/7/2014,5,2.75,3595,5639,2.0,0,0,3,...,3595,0,2014,0,98053,47.6848,-122.016,3625,5639,861990
43,9270200160,10/28/2014,3,1.00,1570,2280,2.0,0,0,3,...,1570,0,1922,0,98119,47.6413,-122.364,1580,2640,685000
44,1432701230,7/29/2014,3,1.00,1280,9656,1.0,0,0,4,...,920,360,1959,0,98058,47.4485,-122.175,1340,8808,309000
45,8035350320,7/18/2014,3,2.50,3160,13603,2.0,0,0,3,...,3160,0,2003,0,98019,47.7443,-121.977,3050,9232,488000
46,8945200830,3/25/2015,3,1.00,990,8528,1.0,0,0,3,...,990,0,1966,0,98023,47.3066,-122.371,1228,8840,210490
47,4178300310,7/16/2014,4,2.50,2290,13416,2.0,0,0,4,...,2290,0,1981,0,98007,47.6194,-122.151,2680,13685,785000
48,9215400105,4/28/2015,3,1.75,1250,5963,1.0,0,0,4,...,1250,0,1953,0,98115,47.6796,-122.301,970,5100,450000
49,822039084,3/11/2015,3,2.50,2753,65005,1.0,1,2,5,...,2165,588,1953,0,98070,47.4041,-122.451,2680,72513,1350000

# 3. Data cleaning / EDA

Columns' names standardization was not run because the names are already standardized

## 3.1 Check for nulls and duplicates

In [7]:
df_raw.shape #checking number of columns

(21597, 21)

In [8]:
df_raw.info() #checking the type of each variable and nulls

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   date           21597 non-null  object
 2   bedrooms       21597 non-null  int64
 3   bathrooms      21597 non-null  float64
 4   sqft_living    21597 non-null  int64
 5   sqft_lot       21597 non-null  int64
 6   floors         21597 non-null  float64
 7   waterfront     21597 non-null  int64
 8   view           21597 non-null  int64
 9   condition      21597 non-null  int64
 10  grade          21597 non-null  int64
 11  sqft_above     21597 non-null  int64
 12  sqft_basement  21597 non-null  int64
 13  yr_built       21597 non-null  int64
 14  yr_renovated   21597 non-null  int64
 15  zipcode        21597 non-null  int64
 16  lat            21597 non-null  float64
 17  long           21597 non-null  float64
 18  sqft_living15  21597 non-null  int64
 19  sqft_lot15     21597 non-null  int64
 20  price          21597 non-null  int64
dtypes: float64(4), int64(16), object(1)
memory usage: 3.5+ MB

In [9]:
df_raw.duplicated().sum() #checking for duplicates

0

In [10]:
#df_raw.drop(['date'], axis = 1, inplace=True) #drop column 'date' because we are not using it

In [11]:
df_raw['id'].duplicated().sum() #some houses were sold multiple times, so we decided to keep only the last (in time) sale

177

In [12]:
df_sort = df_raw.sort_values(by='date', ascending=False) #sort dataframe by date
df_sort.reset_index(drop=True, inplace=True) #after sorting, reset index
df_sort[df_sort['id'].duplicated(keep=False)] #see id duplicates

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price
16,7227800055,9/9/2014,4,2.00,1750,8116,1.0,0,0,4,...,1750,0,1943,0,98056,47.5097,-122.181,1440,7865,199500
42,8062900070,9/9/2014,5,1.50,2550,6300,1.0,0,0,4,...,1560,990,1959,0,98056,47.5014,-122.172,1380,6300,272000
182,1450100390,9/5/2014,3,1.00,920,7314,1.0,0,0,3,...,920,0,1960,0,98002,47.2892,-122.220,1010,7420,125000
193,7520000520,9/5/2014,2,1.00,1240,12092,1.0,0,0,3,...,960,280,1922,1984,98146,47.4957,-122.352,1820,7460,232000
238,1545800290,9/5/2014,4,2.50,1700,6675,2.0,0,0,3,...,1700,0,1997,0,98038,47.3638,-122.053,1570,7540,215000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21479,251300110,1/14/2015,3,2.25,2510,12013,2.0,0,0,3,...,2510,0,1988,0,98003,47.3473,-122.314,1870,8017,358000
21506,1523049207,1/14/2015,4,2.00,1700,8043,1.0,0,0,3,...,850,850,1954,0,98168,47.4758,-122.288,1540,13260,220000
21508,1446403850,1/14/2015,2,1.00,790,7153,1.0,0,0,4,...,790,0,1944,0,98168,47.4869,-122.324,810,7128,212000
21552,2767603612,1/13/2015,2,2.25,1290,1334,3.0,0,0,3,...,1290,0,2007,0,98107,47.6719,-122.382,1350,1334,489000
21559,3935900232,1/12/2015,3,1.00,920,5546,1.0,0,0,2,...,920,0,1928,0,98125,47.7114,-122.284,1300,5546,237000

In [13]:
df_sort = df_sort.drop_duplicates(subset=['id'], keep='last') #drop duplicates, keep the last

In [14]:
df_sort = df_sort[df_sort['bedrooms']!=33] # in data exploration with sql and tableau a clear wrong data (bedrooms = 33) was detected. We are gonna drop this case before continuing

In [15]:
df_sort.reset_index(drop=True, inplace=True) #after dropping duplicates, reset index

# 4. Run the basic model

In [16]:
def dummy_renovation(x): # dummify years of renovation
    if x == 0:
        return 0
    else:
        return 1

In [17]:
df_sort['dummy_renovated']=list(map(dummy_renovation,df_sort['yr_renovated']))

In [18]:
df_sort.columns

Index(['id', 'date', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long',
       'sqft_living15', 'sqft_lot15', 'price', 'dummy_renovated'],
      dtype='object')

scaling the variables
x: bedrooms, bathrooms, floors, waterfront, 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement',
       'sqft_living15', 'sqft_lot15', 'dummy_renovated','age', 'zipcode_dist')

- yr_built -> transform in age 
- zip_code -> transform distance

In [19]:
df_sort['age'] = 2015 - df_sort['yr_built'] #calculating age of the houses

In [20]:
import pgeocode

In [21]:
dist = pgeocode.GeoDistance('us')
dist.query_postal_code(["98039"], ["98178", "98125", "98028", "98136", "98074", "98053", "98003", "98198", "98146",
       "98038", "98007", "98115", "98107", "98126", "98019", "98103", "98002", "98133",
       "98040", "98092", "98030", "98119", "98112", "98052", "98027", "98117", "98058",
       "98001", "98056", "98166", "98023", "98070", "98148", "98105", "98042", "98008",
       "98059", "98122", "98144", "98004", "98005", "98034", "98075", "98116", "98010",
       "98118", "98199", "98032", "98045", "98102", "98077", "98108", "98168", "98177",
       "98065", "98029", "98006", "98109", "98022", "98033", "98155", "98024", "98011",
       "98031", "98106", "98072", "98188", "98014", "98055"])

array([14.95955013, 11.31034025, 14.20633735, 15.21198963, 13.88018804,
       14.60440525, 34.62250281, 26.72999072, 17.15291398, 29.95532318,
        6.73863758,  8.09863549, 11.86982419, 14.06186439, 24.59997906,
        9.79814499, 35.84182139, 14.89010694,  7.40972594, 38.95281892,
       26.76450901, 10.03338435,  4.9437589 ,  9.51940184, 21.9449619 ,
       12.82005526, 21.68705801, 35.34082581, 13.8077469 , 21.57428254,
       36.52063017, 28.38299932, 21.50427384,  6.67188673, 29.96765062,
        8.80258918, 16.02121957,  5.81580315,  6.99720236,  2.21282454,
        5.05542891, 10.54579492, 15.45615336, 13.46684895, 38.98180523,
       10.0748832 , 12.60015407, 28.01615096, 39.3759467 ,  6.72448023,
       19.08828448, 11.31205231, 16.2142098 , 16.82044655, 32.5351388 ,
       18.56920746,  9.25723786,  8.74222794, 42.8038729 ,  6.55328258,
       15.24303078, 26.44713781, 13.70395789, 26.71901157, 13.83199865,
       17.56391332, 20.10463946, 24.03260796, 18.11376677])

In [22]:
keys = (98178, 98125, 98028, 98136, 98074, 98053, 98003, 98198, 98146,
       98038, 98007, 98115, 98107, 98126, 98019, 98103, 98002, 98133,
       98040, 98092, 98030, 98119, 98112, 98052, 98027, 98117, 98058,
       98001, 98056, 98166, 98023, 98070, 98148, 98105, 98042, 98008,
       98059, 98122, 98144, 98004, 98005, 98034, 98075, 98116, 98010,
       98118, 98199, 98032, 98045, 98102, 98077, 98108, 98168, 98177,
       98065, 98029, 98006, 98109, 98022, 98033, 98155, 98024, 98011,
       98031, 98106, 98072, 98188, 98014, 98055, 98039)
values = (14.95955013, 11.31034025, 14.20633735, 15.21198963, 13.88018804,
       14.60440525, 34.62250281, 26.72999072, 17.15291398, 29.95532318,
        6.73863758,  8.09863549, 11.86982419, 14.06186439, 24.59997906,
        9.79814499, 35.84182139, 14.89010694,  7.40972594, 38.95281892,
       26.76450901, 10.03338435,  4.9437589 ,  9.51940184, 21.9449619 ,
       12.82005526, 21.68705801, 35.34082581, 13.8077469 , 21.57428254,
       36.52063017, 28.38299932, 21.50427384,  6.67188673, 29.96765062,
        8.80258918, 16.02121957,  5.81580315,  6.99720236,  2.21282454,
        5.05542891, 10.54579492, 15.45615336, 13.46684895, 38.98180523,
       10.0748832 , 12.60015407, 28.01615096, 39.3759467 ,  6.72448023,
       19.08828448, 11.31205231, 16.2142098 , 16.82044655, 32.5351388 ,
       18.56920746,  9.25723786,  8.74222794, 42.8038729 ,  6.55328258,
       15.24303078, 26.44713781, 13.70395789, 26.71901157, 13.83199865,
       17.56391332, 20.10463946, 24.03260796, 18.11376677, 0)

zipcode_dist = dict(zip(keys, values))

In [23]:
df_sort['zipcode_dist'] = df_sort['zipcode'].map(zipcode_dist)

In [24]:
df_sort

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price,dummy_renovated,age,zipcode_dist
0,342000570,9/9/2014,2,1.00,1080,3600,1.0,0,0,3,...,0,98122,47.6078,-122.291,2230,4500,429000,0,93,5.815803
1,7779200075,9/9/2014,2,1.75,2330,10143,1.0,0,2,4,...,0,98146,47.4899,-122.359,2560,9750,689000,0,62,17.152914
2,7954300740,9/9/2014,4,2.50,2830,6163,2.0,0,0,3,...,0,98056,47.5227,-122.190,2730,6202,527000,0,15,13.807747
3,1370803445,9/9/2014,4,1.75,3080,6500,1.0,0,0,4,...,0,98199,47.6353,-122.402,2960,5711,1140000,0,74,12.600154
4,4006000183,9/9/2014,7,4.00,3150,7800,2.0,0,0,3,...,0,98118,47.5259,-122.279,1880,6000,450000,0,2,10.074883
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21414,1433290010,1/12/2015,3,2.25,1960,44634,1.0,0,0,3,...,0,98028,47.7769,-122.253,1970,44634,449000,0,31,14.206337
21415,8682282070,1/12/2015,3,3.50,2800,7694,1.0,0,0,3,...,0,98053,47.7095,-122.022,2420,7694,920000,0,10,14.604405
21416,6672900220,1/12/2015,4,2.25,2390,12292,1.0,0,0,5,...,0,98040,47.5528,-122.221,2870,12337,984000,0,53,7.409726
21417,5088500210,1/12/2015,4,2.75,2390,9968,1.0,0,0,4,...,0,98038,47.3706,-122.056,2560,12385,415000,0,26,29.955323
21418,5437600140,1/10/2015,4,2.50,2240,5105,2.0,0,0,4,...,0,98042,47.3922,-122.165,1920,5288,325000,0,13,29.967651

In [25]:
scaler = MinMaxScaler()

In [27]:
X = df_sort[['bedrooms', 'bathrooms', 'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above','sqft_basement', 'sqft_living15', 'sqft_lot15', 'dummy_renovated','age', 'zipcode_dist']]

In [28]:
X

,bedrooms,bathrooms,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,sqft_living15,sqft_lot15,dummy_renovated,age,zipcode_dist
0,2,1.00,1.0,0,0,3,7,1080,0,2230,4500,0,93,5.815803
1,2,1.75,1.0,0,2,4,7,1220,1110,2560,9750,0,62,17.152914
2,4,2.50,2.0,0,0,3,9,2830,0,2730,6202,0,15,13.807747
3,4,1.75,1.0,0,0,4,9,1700,1380,2960,5711,0,74,12.600154
4,7,4.00,2.0,0,0,3,8,3150,0,1880,6000,0,2,10.074883
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21414,3,2.25,1.0,0,0,3,7,1130,830,1970,44634,0,31,14.206337
21415,3,3.50,1.0,0,0,3,9,2800,0,2420,7694,0,10,14.604405
21416,4,2.25,1.0,0,0,5,9,2390,0,2870,12337,0,53,7.409726
21417,4,2.75,1.0,0,0,4,9,1390,1000,2560,12385,0,26,29.955323
21418,4,2.50,2.0,0,0,4,8,2240,0,1920,5288,0,13,29.967651

In [29]:
X_scaled=scaler.fit_transform(X)

In [31]:
X_scaled_df=pd.DataFrame(X_scaled, columns=X.columns)

In [35]:
X_scaled_df.head(10)

,bedrooms,bathrooms,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,sqft_living15,sqft_lot15,dummy_renovated,age,zipcode_dist
0,0.1,0.066667,0.0,0.0,0.0,0.50,0.4,0.078540,0.000000,0.315092,0.004421,0.0,0.808696,0.135871
1,0.1,0.166667,0.0,0.0,0.5,0.75,0.4,0.094027,0.230290,0.371881,0.010452,0.0,0.539130,0.400733
2,0.3,0.266667,0.4,0.0,0.0,0.50,0.6,0.272124,0.000000,0.401136,0.006376,0.0,0.130435,0.322582
3,0.3,0.166667,0.0,0.0,0.0,0.75,0.6,0.147124,0.286307,0.440716,0.005812,0.0,0.643478,0.294369
4,0.6,0.466667,0.4,0.0,0.0,0.50,0.5,0.307522,0.000000,0.254861,0.006144,0.0,0.017391,0.235373
5,0.3,0.266667,0.4,0.0,0.0,0.50,0.6,0.203540,0.161826,0.445879,0.006488,0.0,0.104348,0.512686
6,0.2,0.166667,0.0,0.0,0.0,0.50,0.4,0.087389,0.124481,0.239374,0.006403,0.0,0.513043,0.235373
7,0.2,0.300000,0.2,0.0,0.0,0.50,0.6,0.209071,0.078838,0.385648,0.013773,0.0,0.321739,0.222396
8,0.2,0.266667,0.0,0.0,0.0,0.75,0.4,0.097345,0.128631,0.168818,0.012434,0.0,0.182609,0.919916
9,0.2,0.066667,0.0,0.0,0.0,1.00,0.4,0.070796,0.000000,0.129238,0.011215,0.0,0.408696,0.700115

In [36]:
X_scaled_df.describe()

,bedrooms,bathrooms,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,sqft_living15,sqft_lot15,dummy_renovated,age,zipcode_dist
count,21419.000000,21419.000000,21419.000000,21419.000000,21419.000000,21419.000000,21419.000000,21419.000000,21419.000000,21419.000000,21419.000000,21419.000000,21419.000000,21419.000000
mean,0.237257,0.215793,0.198403,0.007610,0.058780,0.602678,0.466282,0.157213,0.060570,0.273518,0.013928,0.042486,0.381790,0.404471
std,0.090301,0.102498,0.216033,0.086905,0.191795,0.162490,0.117199,0.091670,0.091884,0.117973,0.031413,0.201699,0.255542,0.225704
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.200000,0.166667,0.000000,0.000000,0.000000,0.500000,0.400000,0.091814,0.000000,0.187747,0.005111,0.000000,0.156522,0.234404
50%,0.200000,0.233333,0.200000,0.000000,0.000000,0.500000,0.400000,0.131637,0.000000,0.247978,0.008005,0.000000,0.347826,0.341194
75%,0.300000,0.266667,0.400000,0.000000,0.000000,0.750000,0.500000,0.204646,0.116183,0.339184,0.010839,0.000000,0.547826,0.512686
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [38]:
y = df_sort['price']

In [39]:
X_train, X_test, y_train, y_test = train_test_split(X_scaled_df, y, test_size=0.30,random_state=40)# split the data into TT

In [40]:
#import and apply model on full data set
from sklearn.linear_model import LinearRegression as Lin
from sklearn.model_selection import train_test_split as tts

In [41]:
# define the model
linreg=Lin()

In [42]:
# train the model on train
linreg.fit(X_train,y_train)

LinearRegression()

In [43]:
# make some predictions on test
y_pred=linreg.predict(X_test)

In [44]:
y_pred

array([ 831933.62295868, 1219537.94926758,  511994.80600629, ...,
       1085174.40934509,  426831.13716146,  152777.0752191 ])

In [45]:
from sklearn.metrics import r2_score as r2
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_absolute_error as mae

In [47]:
r2 = r2(y_test,y_pred) # you want to be as close to 1 as possible
mean_standard_error = mse(y_test,y_pred)

In [48]:
r2

0.7369234040801614

In [49]:
mean_standard_error

34130808342.590206